<div class="row justify-content-center mt-5">
    {% for movie in movies %}
        <div class="col-md-3 mb-4">
            <div class="card h-100 shadow border-0">
                <img src="{{ movie.poster }}" class="card-img-top" alt="{{ movie.title }}" style="height: 350px; object-fit: cover;">
                <div class="card-body text-center bg-dark text-white">
                    <h6 class="card-title mb-0">{{ movie.title }}</h6>
                </div>
            </div>
        </div>
    {% endfor %}
</div>